*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    color: #ffffff;
    margin: 50px;
}
.card-item{
    background: linear-gradient(0deg, #162525, #1d1d1d);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
    
}
.cabecera{
    background: #46979f;
    height: 125px;
    margin-bottom: 75px;
}
img{
    height: 150px;
    width: 150px;
    object-fit: contain;
    padding: 10px;
}
.cont-img{
    height: 150px;
    width: 150px;
    border-radius: 1000px;
    object-fit: auto;
    position: absolute;
    right: calc(50% - 75px);
    top: calc(50% - 125px);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
    
p, label{
    padding: 3px 20px;
    font-weight: 600;
}
.titulo{
    font-weight: 400;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.categoria{
    background-color: #343333bd ;
    border-radius: 20px;
    color: #6fca8e;
    margin-left: 15px;

}

.precio-sd{
    font-size: 12px;
    color: #a0a0a0;
    text-decoration: line-through;
}